[{lager, [{error_logger_hwm, 50},
	  {handlers, [{lager_file_backend, [{file, "log/bfe.log"},
					    {level, info},
					    {size, 10000000},
					    {date, ""},
					    {count, 5}]},
		      {lager_file_backend, [{file, "log/debug.log"},
					    {level, debug},
					    {size, 10000000},
					    {date, ""},
					    {count, 10}]}]},
	  {crash_log, "log/crash.log"}]},
 {safetyvalve, [{queues, [{bf_queue, [{queue_type, sv_queue_ets},
				      {hz, 5000},
				      {rate, 1},
				      {token_limit, 1},
				      {size, 1000},
				      {concurrency, 50}]}]}]},
 {sasl, [{sasl_error_logger, {file,"log/sasl.log"}}]}].


