[{lager, [{error_logger_hwm, 50},
	  {handlers, [{lager_file_backend, [{file, "log/snp.log"},
					    {level, info},
					    {size, 10000000},
					    {date, ""},
					    {count, 5}]},
		      {lager_file_backend, [{file, "log/debug.log"},
					    {level, debug},
					    {size, 10000000},
					    {date, ""},
					    {count, 10}]}]},
	  {crash_log, "log/crash.log"}]},
 {sasl, [{sasl_error_logger, {file,"log/sasl.log"}}]}].


